---
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/Navbar.jsx"
import ImageGrid from '../components/ImageGrid.astro';
import homePhotos from "../utils/home-photos.json"
---

<Layout title="Welcome to Astro.">
	<main>
    <NavBar client:load />
    <ImageGrid collection={homePhotos} />
	</main>
</Layout>

